body {
    background-color: rgb(27, 107, 177);
}

header{
    text-align: center;
    color: white;

}

section#elementos {
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(8, 8, 8);
    
}

div#mensagem {
    font-size: 30px;
    font-style: oblique;
    color: rgb(255, 255, 255);
}
footer {
    text-align: center;
    color: rgb(0, 0, 0);
}